@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Fira+Code:wght@300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans&display=swap');

.header-title {
    font-family: "Inter", serif;
    font-style: normal;
    font-size: 48px;
    font-optical-sizing: auto;
    font-weight: 700;
    width: 100%;
    text-align: center;
}